#leagueleaders{
    border: inset whitesmoke 6px;
    width: auto;
    padding-bottom: .5rem;
    padding-top: .5rem;
    background-color: #000000ba;
        text-align: center;
}

h5 {
    font-size: medium;
    border-bottom: white;
    background-color: white;
}

#hittingtitle{
    margin-top: 2rem;
    border: solid red;
}



div.row.align-items-start {
	justify-content: center;

}

